html,
body {
  background: url(images/desktop-gallery-hd-notebook-abstract-architecture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover; !important;
  -moz-background-size: cover; !important;
  -o-background-size: cover; !important;
  background-size: cover; !important;
}