body
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:1px 0px 0px 0px; 
margin:0px 0px 0px 0px;
}
.editbox
{
display:none
}
td
{
padding:5px;
border-left:1px solid #fff;
border-bottom:1px solid #fff;
}
table{
border-right:1px solid #fff;
}
.editbox
{
font-size:14px;
width:53px;
height:27px;
background-color:#ffffcc;

border:solid 1px #00FF7F;
padding:0 4px;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
 border-radius: 3px;
}
.edit_tr:hover
{
background:url(../images/edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.edit_tr
{
background: none repeat scroll 0 0 #D5EAF0;
}
th
{
background: none repeat scroll
font-weight:bold;
text-align:center;
padding:8px;
border:1px solid #fff;
border-right-width: 0px;
}
.head
{
background: none repeat scroll 0 0 #91C5D4;
color:#00000;
}